<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Рандом </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="sq">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Рандом</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" uk-margin>
    <sq-input
      formControlName="from"
      controlLabel="От"
    >
    </sq-input>
    <br/>
    <sq-input
      formControlName="To"
      controlLabel="До"
    >
    </sq-input>

    <sq-button
    type="submit">
    Submit
  </sq-button>

  </div>
</ion-content>
